body {
	color: #2f4f4f;
}
p1 {
	font-size: 30px;
	color: #00BFFF;
}
p2 {
	font-size: 30px;
	color: #FFD700;
}
p3 {
	font-size: 30px;
	color: #90EE90;
}

li {
	color: black;
	font-size: 150%;
}
nav {
	color: #2f4f4f;
}